<section class="home">
    <div class="container home">
        <section class="overlapping-content">
            <section class="hero is-primary is-large">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns">
                            <div class="column is-half image">
                                <figure class="img is-square">
                                    <%= image_tag image_url("grand_canyon.jpg")%> 
                                </figure>
                            </div>
                            <div class="column is-half content">
                                <div class="card">
                                    <div class="card-content has-text-left">
                                        <h1 class="title">
                                            Find a Photographer, Find work, Connect!
                                        </h1>
                                        <p></p>
                                        <p class="subtitle has-text-grey">
                                            PhotoPlace was created to provide a platform for photographers to show off their work, create listings of their services, and connect with others. Whether you are searching for a photography service, or looking to expand your network, then PhotoPlace is the PLACE for you!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero is-warning is-large">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns">
                            <div class="column is-half image second">
                                <figure class="img is-square">
                                    <%= image_tag image_url("milford_sound.jpg")%> 
                                </figure>
                            </div>
                            <div class="column is-half content second">
                                <div class="card 2">
                                    <div class="card-content has-text-left">
                                        <h1 class="title">
                                            Why choose PhotoPlace?
                                        </h1>
                                        <p></p>
                                        <p class="subtitle has-text-grey"><i class="fas fa-check-circle"></i>   Show off your Photography work</p>
                                        <p class="subtitle has-text-grey"><i class="fas fa-check-circle"></i>   Find a photographer easily</p>
                                        <p class="subtitle has-text-grey"><i class="fas fa-check-circle"></i>   Choose a service or product</p>
                                        <p class="subtitle has-text-grey"><i class="fas fa-check-circle"></i>   Connect with others, leave reviews!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="featured-photographers">
            <section class="hero is-light">
                <div class="hero-body">
                    <div class="home-title">
                        <h1 class="title">Featured Photographers</h1>
                    </div>
                    <div class="columns profile">
                        <% @home_profiles.each do |profile| %>
                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <%= image_tag profile_photo(profile), class:'is-rounded profile-image' %>
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"><%= profile.name %></p>
                                            <p class="subtitle is-6">@<%= profile.name.split.join("_").downcase %></p>
                                        </div>
                                    </div>
                                    <div class="content"><%= profile.description %></div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </section>
        </section>
        <section class="categories">
            <section class="hero is-danger">
                <div class="hero-body">
                    <div class="home-title">
                        <h1 class="title">Categories</h1>
                    </div>
                    <div class="columns category">
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("portrait.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Portrait</h2>
                            </div>
                        </div>
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("st_marks.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Landscape</h2>
                            </div>
                        </div>
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("product_photo.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Product</h2>
                            </div>
                        </div>
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("commercial.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Commercial</h2>
                            </div>
                        </div>
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("product_photo_1.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Workshops</h2>
                            </div>
                        </div>
                        <div class="column is-half-mobile is-one-third-tablet is-one-third-tablet is-2-desktop has-text-centered category">
                            <figure class="image is-square">
                                <%= image_tag image_url("extra.jpg")%>
                            </figure>
                            <div class="category-name">
                                <h2 class="subtitle">Any much more..</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>