<div class="container">
  <section class="listings">
    <% @listings.each do |listing| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <p>
              <strong><%= listing.title %></strong>
              </p>
              <p>
                <%= listing.description %>
              </p>
              <p>
                <strong><%= number_to_currency(listing.price) %></strong>
              </p>
              <p>
                <%= listing.created_at.strftime("Created: %B %d, %Y")%>
              </p>
              <p>
                <strong>Created by: </strong><%= listing.profile.name %>
                <%= link_to "View Profile", profile_path(listing.profile.id) %>
              </p>

              <% if current_photographer_listing(listing) == true %>
                  <td><%= link_to 'Edit', edit_listing_path(listing), class:'button is-info' %></td>
                  <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-danger' %></td>
              <% end %>
            </div>
            <div class="media-right">
              <% if listing.category_id != nil %>
                <button class="button is-primary is-rounded is-outlined category-icon">
                  <span class="icon">
                    <i class="far fa-image">
                    </i>
                  </span>
                  <span><%= listing.category.name %></span>
                </button>
              <% else %>
                <%= %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <%= link_to 'Home', root_path, class:'button is-info is-outlined' %>
  <%= link_to 'New Listing', new_listing_path, class:'button is-info' %>
</div>